
.upperImage{
  width: 100%;
  height: 290px;
  position: relative;
  top:-190px;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, hwb(200 4% 85%) 61.38%);
  
  
}
@media (min-width:320px) and (max-width:648px){
  .upperImage{
    width: 100%;
    height: 290px;
    position: relative;
    top:-290px;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, hwb(200 4% 85%) 61.38%);
    
    
  }
}